<center>
    <div class="card" style="width: 20rem; margin-top: 6%">
            
    <div class="card-header">
        <h3>Login de Usuario</h3>
    </div>

    <form action="/loginPost" method="post">
        <div class="card-body">
                <label for="email" class="form-label">E-mail: </label>
                <div class="col-12">
                    <input type="email" name="email" id="email" placeholder="exemplo@email.com" class="form-control">
                </div>
                <label for="senha" class="form-label">Senha: </label>
                <input type="password" name="senha" id="senha" class="form-control">
        </div>

        <div class="card-footer">
            <button type="submit" class="btn btn-outline-primary">Login</button>
        </div>

        </div>
    </form>
</center>